/* style reset rules */
body, header, main, article, img, nav, ul, h2, h1, footer{
    margin: 0;
    padding: 0;
    border: 0;
}

/* body style rule */
body {
    background: linear-gradient(to bottom right, #ffffff, #107910);
}

/* img style rule */
img {
    max-width: 100%;
    display: block;
}

.round {
    border-radius: 3%;
}

/* video style rule */
video {
    max-width: 100%;
    display: block;
    margin: 2% auto;
    border: 2px solid #000000;
    
}

/* Style rules for mobile viewport */
.mobile, .mobile-nav {
    display: block;
}

/* Style rules for header area */
.mobile h1 {
    padding: 2%;
    text-align: center;
}
  
/* Style rules to show mobile class and hide tab-desk class */
.tab-desk, #menu-links {
    display: none;
}

/* navigation style rules */
nav {
    background-color: #119711;
}

nav ul {
    list-style: none;
    text-align: center;
}

/* hamburger menu style rules */
.mobile-nav a {
    color: #000000;
    text-align: center;
    font-size: 1.25em;
    text-decoration: none;
    padding: 3%;
    display: block;
    font-weight: bold;
}

#menu-links a {
    border-bottom: 2px solid #000000;
}

.mobile-nav a.menu-icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

/* main style rules */
main{
    padding: 2%;
    margin: 2% 1%;
    background-color: #119711;
}

main p {
    font-size: 1.25em;
}

main h1 {
    text-align: center;
}

main h2 {
    text-align: center;
}

main p a {
    text-decoration: none;
    font-weight: bold;
    color: #052005;
}

main article{
    padding: 2%;
    margin: 2% 1%;
}

/* intro id style rules */
#intro {
    background-color: #20b620;
    border: 2px solid #000000;
    padding: 0% 2%;
}

/* img-containter id style rules */
#img-container img {
    display: block;
    margin: 2% auto;
}

/* article style rules */
article {
    background-color: #20b620;
    border: 2px solid #000000;
    margin: 2% 0%;
}

article img {
    margin: 2% auto;
    border: 2px solid #000000;
}

article p {
    padding: 0% 2.5%;
}

/* style rule for letter id */
#letter {
    float: none;
}

/* list style rules */
ul li {
    list-style: none;
    text-align: center;
    font-size: 1.25em;
    font-weight: bold;
}

/* form style rules */
form {
    border: 2px solid #000000;
    margin-bottom: 2%;
}

#submit {
    background-color: #808080;
    font-weight: bold;
}

/* footer style rules */
footer  {
    text-align: center;
    background-color: #20b620;
    font-size: 0.85em;
    color: #000000;
    padding: 1% 0%;
}

footer a {
    text-decoration: none;
}

footer a img {
    display: inline;

}

/* Media Query for Tablet Viewport */
@media screen and (min-width: 620px), print {

  /* Tablet Viewport: Show tab-desk class, hide mobile class */
  .tab-desk {
    display: block;
  }

  .mobile, .mobile-nav{
    display: none;
  }

  /* Tablet Viewport: Style rules for nav area */
  nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.50em;
    border-right: 1px solid #2de42d;
    font-weight: bold;
    border-top: 0.5px solid #ffffff;
  }

  nav li a {
    padding: 0.1em;
    text-decoration: none;
    color: #000000;
  }

  #kids, #teens, #adults {
    padding: 2%;
  }

  /* style rules for id img-container */
  #img-container {
    display: flex;
    justify-content: space-around;
  }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width: 769px), print {
    /* Desktop Viewport: Style rules for nav area */
  nav li {
    font-size: 1.5em;
  }

  nav li a {
    padding: 0.4em 1.5em;
  }

  nav li a:hover {
    color: #63b80d;
    background-color: #f6eee4;
  }
  
}